@page "/acerca_de"
@rendermode InteractiveServer

<PageTitle>Acerca de Mí</PageTitle>

<style>
    .profile-container {
        text-align: center;
        margin: 20px;
    }
    .profile-image {
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-bottom: 20px;
    }
    .contact-info {
        font-size: 1.2em;
        line-height: 1.6;
    }
    .contact-info p {
        margin: 10px 0;
    }
    .contact-info a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-info a img {
        vertical-align: middle;
        margin-right: 10px;
        width: 30px; /* Tamaño uniforme para todos los íconos */
        height: 30px; /* Tamaño uniforme para todos los íconos */
    }
</style>

<div class="profile-container">
    <h1>Acerca de Mí</h1>
    <p>En este apartado encontrarás información sobre mí.</p>

    <img src="imagenes/Yo_foto.jpg" class="profile-image" alt="Imagen de mi persona" width="150" height="150" />

    <div class="contact-info">
        <p><strong>Nombre:</strong> Iverson A.</p>
        <p><strong>Apellido:</strong> Cuevas Moronta</p>

        <p><strong>WhatsApp:</strong> 
            <a href="https://wa.me/+18097786679" target="_blank">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/018/930/564/small/whatsapp-logo-whatsapp-icon-whatsapp-transparent-free-png.png" alt="WhatsApp Logo" /> Contactame en WS
            </a>
        </p>

        <p><strong>Telegram:</strong> 
            <a href="https://t.me/Axo_B" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/100px-Telegram_logo.svg.png" alt="Telegram Logo" /> Contactame en Telegram
            </a>
        </p>

        <p><strong>Correo:</strong> 
            <a href="mailto:iversonmoronta@gmail.com">
                <img src="https://cdn-icons-png.flaticon.com/512/95/95627.png" alt="Gmail Logo" /> Contactame en mi correo
            </a>
        </p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>


        <p><strong>Me gustaría dedicarme a:</strong> Después de mi instancia en el ITLA me gustaría trabajar en Estados Unidos centrado en backend.</p>
    </div>
</div>




