@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>

<h3>¡Welcome a mi tarea 1 con Blazor WebAssembly!</h3>

<p>Espero que difrutes mi tarea 😊 </p>

<p> Puedes empezar a navegar por las diferentes opciones utulizando el menú</p>

<img class="img-fluid" src="https://img.genially.com/614a76b028af5e0019db9066/451246b1-6a0b-4be3-b632-9044c7e0f862.png"

<h3> Frase del dia:</h3>
<p>Rodéate de personas que crean en tus sueños, animen tus ideas, apoyen tus ambiciones, y saquen lo mejor de ti —Roy T. Bennet</p>
